body {
    background: rgb(39, 38, 38);


}

/* ================================================ */

.main-title {
    position: relative;
    font-size: 45px;
    color: #fff;
    transform: translate(420px, 50px);
}

.main-title::before {
    content: '';
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #f75757;
    border: 3px solid white;
    transform: translate(-103px, -9px);

}

.main-title::after {
    content: '';
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #5055ee;
    border: 3px solid white;
    transform: translate(215px, -54px);
}