body{
    background-color: #272525;
    
}
/* ============================================== */
.text{
    color: #fff;
    font-size: 50px;
}


.blcok-rectangle{
    height: 100px;
    width: 900px;
    background: #c9c4c4;
    border-radius:15px;
    position: fixed;
    bottom: 100px;
    left: 50%;
    right: 50px;
    z-index: -1;

}
.block-circle{
    width: 100px;
	height: 100px;
	background: red;
	border-radius: 50px;
    position: fixed;
    left: 60%;
    bottom: 150px;
    
}